@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikLight.otf") format("woff");
}

@font-face {
  font-family: "Graphik bold";
  src: url("/fonts/GraphikRegular.otf") format("woff");
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-primary);
}

* {
  color: var(--clr-text);
  font-family: var(--font-family);
}

p {
  font-family: var(--font-thin);
}

h1 {
  font-family: var(--font-bold);
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.m-auto {
  margin: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.form-container {
  & {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  input, textarea {
    background-color: var(--clr-primary);
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    color: var(--clr-text);
    width: 98%;
    resize: none;
  }
}

.double-form-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.container {
  background-color: var(--clr-secondary);
  border-radius: 5px;
  box-shadow: var(--shadow-main);
}


.btn {
  border: none;
  padding: 0.65rem;
  border-radius: 5px;
  color: var(--clr-primary)!important;
  cursor: pointer;
  transition: background 0.3s;
  width: 10rem;
}

.btn-markup {
  background-color: var(--clr-markup);
}

.btn-markup:hover {
  background-color: var(--clr-bigmarkup);
}

.btn-red {
  background-color: var(--clr-delete);
  color: var(--clr-light);
}

.btn-red:hover {
  background-color: var(--clr-bigdelete);
  color: var(--clr-light);
}

.btn-light {
  border : 1px solid var(--clr-markup);
  color: var(--clr-markup);
  background-color: var(--clr-secondary);
}

.btn-light:hover {
  background-color: var(--clr-markup);
  color: var(--clr-primary);
}

.btn-link {
  background: none;
  color: var(--clr-markup);
  text-decoration: underline;
  padding: 0;
  width: auto;
}

.black-filter {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Opacité de 60% */
  z-index: 1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.undisplayed {
  display: none;
}

.display {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.input-container {
  & {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  input, textarea {
    background-color: var(--clr-primary);
    border: #C4C9E0 1px solid;
    border-radius: 5px;
    padding: 0.7rem;
    color: var(--clr-text);
    width: 98%;
    resize: none;
  }
}

@media all and (max-width: 500px) {
.double-form-container {
  display: flex;
  justify-content: space-evenly;
}

}