html {
  --clr-primary: #F4F4F4; 
  --clr-secondary: #FFFFFF; 
  --clr-light: #F4F4F4;
  --clr-markup: #0067B8; 
  --clr-bigmarkup: #00518F;
  --clr-text: #000000;
  --clr-contrast: #FFF;
  --clr-delete: #e63946;
  --clr-bigdelete: #c22734;
  --clr-littlemarkup: #636363 ;

  --font-family: "Graphik";
  --font-bold: "Graphik bold";

  --shadow-main: 5px 5px 10px 0 rgba(0, 0, 0, 0.05),
                  5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}